.father {
  display: flex;
  height: 100vh;
  row-gap: 10px;
  column-gap: 20px;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  font-size: 36px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
